/* Regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  height: 100vh;
}


a{
  text-decoration: none;
  color: black;
}

ul li{
  list-style-type: none;
}

li{
  font-size: 20px;
}

.container{
  display: flex;
  justify-content: space-around;
}

.margin-fix{
  margin: 0 40px;
}

.inline{
  display: flex;
  margin-top: 25px;
}

.position-relative{
  position: relative;
  margin: 0 40px;
}

.dropdown-large{
  display: none;
  position: absolute;
  top: 35px;
  right: -325px;
  color: rgb(102, 102, 102);
  width: 650px;
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-large li{
  margin: 20px 15px ;
}

.features{
  display: flex;
}

.title{
  color: black;
}

.dropdown{
  position: absolute;
  display: none;
  top: 35px;
  left: -25px;
  color: rgb(102, 102, 102);
  width: 200px;
  background-color: rgba(0, 0, 0, 0.05);

}

.dropdown li{
  margin: 20px 10px;
}

.show{
  display: block;
}
